<div>
  <h2 id="page-heading" data-cy="GenerateBillHeading">
    <span jhiTranslate="rentmanagementApp.generateBill.home.title">Generate Bills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="rentmanagementApp.generateBill.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-generate-bill"
        [routerLink]="['/generate-bill/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rentmanagementApp.generateBill.home.createLabel"> Create a new Generate Bill </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="generateBills?.length === 0">
    <span jhiTranslate="rentmanagementApp.generateBill.home.notFound">No generateBills found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="generateBills && generateBills.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="rentmanagementApp.generateBill.amountPending">Amount Pending</span></th>
          <th scope="col"><span jhiTranslate="rentmanagementApp.generateBill.sendNotification">Send Notification</span></th>
          <th scope="col"><span jhiTranslate="rentmanagementApp.generateBill.electricityUnit">Electricity Unit</span></th>
          <th scope="col"><span jhiTranslate="rentmanagementApp.generateBill.tenant">Tenant</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generateBill of generateBills; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/generate-bill', generateBill.id, 'view']">{{ generateBill.id }}</a>
          </td>
          <td>{{ generateBill.amountPending }}</td>
          <td>{{ generateBill.sendNotification }}</td>
          <td>{{ generateBill.electricityUnit }}</td>
          <td>
            <div *ngIf="generateBill.tenant">
              <a [routerLink]="['/tenant', generateBill.tenant?.id, 'view']">{{ generateBill.tenant?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/generate-bill', generateBill.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/generate-bill', generateBill.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(generateBill)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
