<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-room-heading" data-cy="RoomCreateUpdateHeading" jhiTranslate="rentmanagementApp.room.home.createOrEditLabel">
        Create or edit a Room
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.room.roomName" for="field_roomName">Room Name</label>
          <input type="text" class="form-control" name="roomName" id="field_roomName" data-cy="roomName" formControlName="roomName" />
          <div *ngIf="editForm.get('roomName')!.invalid && (editForm.get('roomName')!.dirty || editForm.get('roomName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('roomName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.room.floor" for="field_floor">Floor</label>
          <input type="text" class="form-control" name="floor" id="field_floor" data-cy="floor" formControlName="floor" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.room.building" for="field_building">Building</label>
          <select class="form-control" id="field_building" data-cy="building" name="building" formControlName="building">
            <option *ngIf="!editForm.get('building')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="buildingOption.id === editForm.get('building')!.value?.id ? editForm.get('building')!.value : buildingOption"
              *ngFor="let buildingOption of buildingsSharedCollection; trackBy: trackBuildingById"
            >
              {{ buildingOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['building'])!.invalid && (editForm.get(['building'])!.dirty || editForm.get(['building'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['building'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.room.tenants" for="field_tenants">Tenants</label>
          <select class="form-control" id="field_tenants" data-cy="tenants" name="tenants" formControlName="tenants">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tenantOption.id === editForm.get('tenants')!.value?.id ? editForm.get('tenants')!.value : tenantOption"
              *ngFor="let tenantOption of tenantsSharedCollection; trackBy: trackTenantById"
            >
              {{ tenantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
