<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="generateBill">
      <h2 data-cy="generateBillDetailsHeading"><span jhiTranslate="rentmanagementApp.generateBill.detail.title">Generate Bill</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ generateBill.id }}</span>
        </dd>
        <dt><span jhiTranslate="rentmanagementApp.generateBill.amountPending">Amount Pending</span></dt>
        <dd>
          <span>{{ generateBill.amountPending }}</span>
        </dd>
        <dt><span jhiTranslate="rentmanagementApp.generateBill.sendNotification">Send Notification</span></dt>
        <dd>
          <span>{{ generateBill.sendNotification }}</span>
        </dd>
        <dt><span jhiTranslate="rentmanagementApp.generateBill.electricityUnit">Electricity Unit</span></dt>
        <dd>
          <span>{{ generateBill.electricityUnit }}</span>
        </dd>
        <dt><span jhiTranslate="rentmanagementApp.generateBill.tenant">Tenant</span></dt>
        <dd>
          <div *ngIf="generateBill.tenant">
            <a [routerLink]="['/tenant', generateBill.tenant?.id, 'view']">{{ generateBill.tenant?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/generate-bill', generateBill.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
