<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-building-heading" data-cy="BuildingCreateUpdateHeading" jhiTranslate="rentmanagementApp.building.home.createOrEditLabel">
        Create or edit a Building
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.building.buildingName" for="field_buildingName">Building Name</label>
          <input
            type="text"
            class="form-control"
            name="buildingName"
            id="field_buildingName"
            data-cy="buildingName"
            formControlName="buildingName"
          />
          <div
            *ngIf="editForm.get('buildingName')!.invalid && (editForm.get('buildingName')!.dirty || editForm.get('buildingName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('buildingName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.building.addressId" for="field_addressId">Address Id</label>
          <select class="form-control" id="field_addressId" data-cy="addressId" name="addressId" formControlName="addressId">
            <option *ngIf="editForm.get(['addressId'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="locationOption.id === editForm.get('addressId')!.value?.id ? editForm.get('addressId')!.value : locationOption"
              *ngFor="let locationOption of addressIdsCollection; trackBy: trackLocationById"
            >
              {{ locationOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['addressId'])!.invalid && (editForm.get(['addressId'])!.dirty || editForm.get(['addressId'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['addressId'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
