<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-generate-bill-heading"
        data-cy="GenerateBillCreateUpdateHeading"
        jhiTranslate="rentmanagementApp.generateBill.home.createOrEditLabel"
      >
        Create or edit a Generate Bill
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.generateBill.amountPending" for="field_amountPending"
            >Amount Pending</label
          >
          <input
            type="number"
            class="form-control"
            name="amountPending"
            id="field_amountPending"
            data-cy="amountPending"
            formControlName="amountPending"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.generateBill.sendNotification" for="field_sendNotification"
            >Send Notification</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="sendNotification"
            id="field_sendNotification"
            data-cy="sendNotification"
            formControlName="sendNotification"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.generateBill.electricityUnit" for="field_electricityUnit"
            >Electricity Unit</label
          >
          <input
            type="number"
            class="form-control"
            name="electricityUnit"
            id="field_electricityUnit"
            data-cy="electricityUnit"
            formControlName="electricityUnit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rentmanagementApp.generateBill.tenant" for="field_tenant">Tenant</label>
          <select class="form-control" id="field_tenant" data-cy="tenant" name="tenant" formControlName="tenant">
            <option *ngIf="!editForm.get('tenant')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="tenantOption.id === editForm.get('tenant')!.value?.id ? editForm.get('tenant')!.value : tenantOption"
              *ngFor="let tenantOption of tenantsSharedCollection; trackBy: trackTenantById"
            >
              {{ tenantOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['tenant'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
